In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Dalnegorsk,RU,2021-01-12 23:12:04,44.5604,135.5701,13.71,93,100,1.86
1,1,Albany,US,2021-01-12 23:10:04,42.6001,-73.9662,32.00,71,79,2.86
2,2,Hermanus,ZA,2021-01-12 23:12:04,-34.4187,19.2345,71.01,83,87,8.01
3,3,Lebu,CL,2021-01-12 23:12:04,-37.6167,-73.6500,56.21,70,32,20.51
4,4,Rikitea,PF,2021-01-12 23:12:05,-23.1203,-134.9692,77.79,79,5,17.96

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [20]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4,)


# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
Clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=Clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
Wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=Wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [27]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Rikitea,PF,2021-01-12 23:12:05,-23.1203,-134.9692,77.79,79,5,17.96
14,14,Bakel,SN,2021-01-12 23:12:06,14.9050,-12.4568,76.41,18,52,12.68
27,27,Puerto Ayora,EC,2021-01-12 23:12:07,-0.7393,-90.3518,86.00,54,0,6.91
33,33,Olinda,BR,2021-01-12 23:12:07,-8.0089,-34.8553,78.80,73,40,8.05
42,42,Avarua,CK,2021-01-12 23:12:09,-21.2078,-159.7750,86.00,70,75,19.57
45,45,Santa Cruz Cabralia,BR,2021-01-12 23:12:09,-16.2781,-39.0247,78.80,73,20,10.36
51,51,Savannah Bight,HN,2021-01-12 23:12:09,16.4500,-85.8500,77.00,88,75,4.61
55,55,Carnarvon,AU,2021-01-12 23:12:10,-24.8667,113.6333,77.00,73,0,18.41
56,56,Georgetown,MY,2021-01-12 23:11:09,5.4112,100.3354,75.20,78,20,7.16
57,57,Mahebourg,MU,2021-01-12 23:12:10,-20.4081,57.7000,77.00,94,75,14.97

In [28]:
preferred_cities_df.count()

City_ID       153
City          153
Country       153
Date          153
Lat           153
Lng           153
Max Temp      153
Humidity      153
Cloudiness    153
Wind Speed    153
dtype: int64

In [29]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                   City Country  Max Temp      Lat       Lng Hotel Name
4               Rikitea      PF     77.79 -23.1203 -134.9692
14                Bakel      SN     76.41  14.9050  -12.4568
27         Puerto Ayora      EC     86.00  -0.7393  -90.3518
33               Olinda      BR     78.80  -8.0089  -34.8553
42               Avarua      CK     86.00 -21.2078 -159.7750
45  Santa Cruz Cabralia      BR     78.80 -16.2781  -39.0247
51       Savannah Bight      HN     77.00  16.4500  -85.8500
55            Carnarvon      AU     77.00 -24.8667  113.6333
56           Georgetown      MY     75.20   5.4112  100.3354
57            Mahebourg      MU     77.00 -20.4081   57.7000

In [32]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

In [40]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [41]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Rikitea,PF,77.79,-23.1203,-134.9692,Pension Maro'i
14,Bakel,SN,76.41,14.9050,-12.4568,Ablaye Diallo Bakel
27,Puerto Ayora,EC,86.00,-0.7393,-90.3518,Castillo Galapagos
33,Olinda,BR,78.80,-8.0089,-34.8553,Flat Quatro Rodas Olinda
42,Avarua,CK,86.00,-21.2078,-159.7750,Paradise Inn
45,Santa Cruz Cabralia,BR,78.80,-16.2781,-39.0247,Portobali Hotel
51,Savannah Bight,HN,77.00,16.4500,-85.8500,Villa on Dunbar Rock
55,Carnarvon,AU,77.00,-24.8667,113.6333,Hospitality Carnarvon
56,Georgetown,MY,75.20,5.4112,100.3354,Cititel Penang
57,Mahebourg,MU,77.00,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa

In [47]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [48]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))